.banner {
    text-align: center;
    padding: 3em;
    background-color: var(--cor-terciaria);
}

.banner__titulo {
    font-family: var(--fonte-principal);
    font-size: 24px;
    font-weight: 700;
}

.banner__texto {
    font-family: var(--fonte-secundaria);
    font-size: 20px;
    margin: 1em;
}

.barra__pesquisa {
    display: flex;
    justify-content: center;
}

.banner__pesquisa {
    font-family: var(--fonte-secundaria);
    font-size: 14px;
    background-color: var(--cor-terciaria);
    border: 2px solid var(--cor-secundaria);
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    padding: 1em 0em 1em 1em;
    width: 80%;
}

.btn__pesquisa {
    font-family: var(--fonte-secundaria);
    display: flex;
    font-size: 14px;
    background-color: var(--cor-quaternaria);
    border: 2px solid var(--cor-secundaria);
    border-left: none;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    padding: 1em 0em 1em 1em;
    width: 56px;
}

.btn__pesquisa:hover {
    cursor: pointer;
    background-color: #a76ddd;
}

.banner__pesquisa::placeholder {
    font-family: var(--fonte-secundaria);
    font-size: 14px;
    text-align: center;
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
}

@media screen and (min-width: 900px) {

    .banner__pesquisa {
        width: 60%;
    }
}

@media screen and (min-width: 1300px) {

    .banner__pesquisa {
        width: 40%;
    }
}


